.projects__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1195px) {
    .projects__list {
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {
    .projects__list {
        display: none;
    }
}

