.page {
     max-width: 1440px;
    min-width: 300px;
    margin: 0 auto;
    font-family: "Open Sans", "Arial", sans-serif;
    /* overflow-x: hidden; */
    /* overflow: auto; */

    background-color: #001337;
    color:#fff;
}