.popup__content {
	display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;

    width: 100vh;
    height: 100vh;
}


.confirmation .popup__content {
    background-color: #000D26;
}
.confirmation .popup__content .logo {
    width: 150px;
      height: 54px;
  }


.industrialLab .popup__content {
    background-color: #ffffff;
    height: auto;
    padding: 40px 20px;
    color: #000D26;
    border-radius: 30px;
}


@media screen and (min-width:480px){
    .confirmation .popup__content {
        padding: 0;
    }
    
}
