.popup__content {
	display: flex;
    flex-direction: column;
    background-color: #000D26;
    position: relative;
    box-sizing: border-box;

    width: 100vh;
    height: 100vh;
}

.popup__content .logo {
  width: 150px;
    height: 54px;
}

@media screen and (min-width:480px){
    .popup__content {
        padding: 0;
    }
    
}
