.projects__logo {
    z-index: 2;
    position: relative;
}

@media screen and (max-width: 912px) {
    .projects__logo {
        max-width: 172px;
        max-height: 43px;
    }
}

@media screen and (max-width: 511px) {
    .projects__logo {
        max-width: 120px;
        max-height: 26px;
    }
}