.projects__arrow-button {
    background: none;
    background-image: url("../../../images/projects__arrow-down.svg");
    width: 32px;
    height: 32px;
    border: none;
}

.projects__arrow-button:hover {
    cursor: pointer;
}