.header__nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 14px;
    flex: 1;
}

.header__nav li {
    flex: 1;
    text-align: center;
}
.header__nav li ul {
    display: none;
}

.header__link:hover + ul,
.header__nav li.active ul,
.header__nav li ul.active {
    display: block;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #000D26;
    top: 100%;
    width: 100%;
}

.sub-menu {
    position: relative;
}

.active li:hover{
    background-color: #001337;
}




@media screen and (max-width: 868px) {
    .header__nav {
      display: none;
    }

    .header__container {
        width: inherit;
    }
  }
