.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.125rem;
  line-height: 1.25rem;
  background-color: #000D26;
  color:#fff;

  /* position: fixed;
  width: 100%;
  z-index: 10; */


}

@media screen and (min-width: 768px) {
  .header {
      font-size: 1.5rem;
      line-height: 1.75rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;

      /* position: relative; */
  }
}
@media screen and (min-width: 1024px) {
  .header {
      /* padding: 15px 3rem; */
      padding: 0 3rem;
  }
}


@media screen and (max-width: 868px) {
  .header {
      position: fixed;
  width: 100%;
  z-index: 10;
  }
}
