.partners {
    background-color: #001337;
    padding-top: 385px;
    padding-bottom: 80px;

    max-width: 1440px;

}

@media (max-width: 1199px) {
    .partners {
        padding-top: 280px;
        padding-bottom: 76px;
    }
}

@media (max-width: 767px) {
    .partners {
        padding-top: 197px;
        padding-bottom: 40px;
    }
}