

.lab {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  background: #E0F0FF;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #000D26;
}

.lab__wrapper {
  margin-bottom: 80px;
}

.lab__title{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 68px;
  text-align: center;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.lab__lid {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
}
.lab__text {
  position: relative;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.1px;
}
.lab__text::after {
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(../../images/Lab/text-icon.svg);
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0;
  left: -30px;
}

.lab__cards {
  display: flex;
  flex-direction: row;

}

.lab__info {
  margin-right: 30px;
}

.lab__wrapper,
.lab__imgs {
  display: flex;
}

.lab__imgs img {
  max-width: 264px;
  max-height: 276px;
}

.lab__imgs img:first-child {
  margin-right: 18px;
}

.lab__card-title{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #001337;
}
.lab__card {
  border-radius: 10px;
  background-color: #fff;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  align-items: center;
  height: 430px;
  justify-content: space-evenly;
}

.lab__card-icon {
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgb(1 54 157 / 15%);
  border-radius: 36px;
  width: 70px;
  height: 70px;
  position: relative;
}
  .lab__card-icon img{
    position: absolute;
      top: calc(50% - 17px);
      left: calc(50% - 17px);
  }

  .lab__card-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1px;
  }