.projects {
    background: #001337;
    padding-top: 80px;
    padding-bottom: 60px;
    padding-left: 165px;
    padding-right: 169px;
    max-width: 1440px;
    box-sizing: border-box;
}

@media screen and (max-width: 1439px) {
    .projects {
        padding-left: calc((100% - 1110px) / 2);
        padding-right: calc((100% - 1110px) / 2);
    }
}

@media screen and (max-width: 1201px) {
    .projects {
        padding-left: 45px;
        padding-right: 45px;
    }
}

@media screen and (max-width: 781px) {
    .projects {
        padding-top: 60px;
        padding-left: 39px;
        padding-right: 39px;
    }
}

@media screen and (max-width: 528px) {
    .projects {
        padding-top: 40px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 40px;
    }
}