.partners__logo {
    align-self: center;
    justify-self: center;
    height: 48px;
    width: 219px;
}

@media (max-width: 1199px) {
    .partners__logo {
        height: 32px;
        max-width: 194px;
    }
}

@media (max-width: 767px) {
    .partners__logo {
        height: 20px;
        max-width: 148px;
    }
}